 {
	"business.sponsors.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "100",
				"link_to_item": "0",
				"element": "3967ef82-fca5-4124-9994-131a57799738"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "af548ed5-6c4f-4ff2-9c27-87c7a69da7ba"
			}
		}
	},
	"business.leadership.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "100",
				"link_to_item": "0",
				"element": "b1a14ca7-f8e5-46a0-af29-1913d4cec0b8"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5f9d1e6b-c080-4912-839f-a623ac786e8d"
			}
		}
	},
	"business.leadership.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "5f9d1e6b-c080-4912-839f-a623ac786e8d"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"3":  {
				"altlabel": "Published",
				"required": "0",
				"element": "_itemstate"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "b1a14ca7-f8e5-46a0-af29-1913d4cec0b8"
			}
		}
	},
	"business.sponsors.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "af548ed5-6c4f-4ff2-9c27-87c7a69da7ba"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "3967ef82-fca5-4124-9994-131a57799738"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "Published",
				"required": "0",
				"element": "_itemstate"
			}
		}
	}
}