 {
	"blog.news.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "5ac332b1-4b0b-4103-a454-d9250b0f8d50"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5b9cd708-e63b-4cb1-85aa-a745dceb7ff4"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.news.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "57a51a21-87b5-4733-93df-29cc7bb5fd5f"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "a14c2bdf-118e-4514-8dc6-c7c072e0cd01"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "300",
				"height": "200",
				"link_to_item": "1",
				"element": "5ac332b1-4b0b-4103-a454-d9250b0f8d50"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "eb010167-ebdd-4714-aa9b-4fb37eb3aa91"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "17ea3b73-e1e7-4983-90a1-440a02792ff9"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "26e8f1af-6248-4c3a-a57f-892bb16af96f"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "122d707f-9bc4-418f-8a07-92bd72c17c19"
			}
		}
	}
}