 {
	"name": "Visit",
	"elements":  {
		"91b6f71e-58b0-4889-a9aa-101e2936057b":  {
			"name": "Related Items",
			"description": "",
			"access": "1",
			"selectable_type":  {
				"0": "visit"
			},
			"type": "relateditems"
		},
		"36b94d31-5ede-4c45-8b57-740ca6489ef3":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/stories\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"904ef5c8-e410-4746-bc7b-a2bf5a89d7c8":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"4435fd6e-fbc7-41f6-b576-af206c070022":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"7595c894-f74b-4ed7-aefb-db5677e82071":  {
			"name": "Availability",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Open",
					"value": "open"
				},
				"1":  {
					"name": "Closed",
					"value": "closed"
				}
			},
			"type": "radio"
		},
		"88cd41c9-c67e-4a66-b2df-4d4dc0062dc4":  {
			"name": "Download File",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "1",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz,pdf",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "1024",
			"type": "download"
		},
		"bf268ecf-53fe-4d9c-8c15-97495fc72cb8":  {
			"name": "Social Buttons",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"d0fc380c-831f-4619-b1d1-aff7efd9328e":  {
			"name": "Signup",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}