 {
	"name": "News",
	"elements":  {
		"57a51a21-87b5-4733-93df-29cc7bb5fd5f":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"eb010167-ebdd-4714-aa9b-4fb37eb3aa91":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"5b9cd708-e63b-4cb1-85aa-a745dceb7ff4":  {
			"name": "Teaser Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"5ac332b1-4b0b-4103-a454-d9250b0f8d50":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"a14c2bdf-118e-4514-8dc6-c7c072e0cd01":  {
			"name": "Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"741a706e-a58c-44f0-8753-9bab65a800e0":  {
			"name": "Downloads",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "1",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "download"
		},
		"26e8f1af-6248-4c3a-a57f-892bb16af96f":  {
			"name": "Media",
			"description": "",
			"access": "1",
			"directory": "images",
			"defaultwidth": "",
			"defaultheight": "",
			"defaultautoplay": "0",
			"type": "media"
		},
		"21675846-0aff-4af0-be30-57dcd96010a6":  {
			"name": "Internal Related Article",
			"description": "",
			"access": "1",
			"selectable_type":  {
				"0": "news"
			},
			"type": "relateditems"
		},
		"122d707f-9bc4-418f-8a07-92bd72c17c19":  {
			"name": "External Related Articles",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"17ea3b73-e1e7-4983-90a1-440a02792ff9":  {
			"name": "Social Buttons",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}