 {
	"cookbook.visit.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "100",
				"link_to_item": "1",
				"element": "3d864121-c2c2-4e7b-ae25-17ad57410af3"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d41e6376-c8f2-42b9-a5fd-990ef59b0351"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b2a60bbb-369b-4089-b034-dbee09df445e"
			}
		}
	},
	"cookbook.visit.full":  {
		"header":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d41e6376-c8f2-42b9-a5fd-990ef59b0351"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"infobar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c0130825-c447-4173-85ea-79c73abad033"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3ac63678-63da-441a-9c50-5a2101fcea4f"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "39170df1-bcc9-4bce-aaf4-61280a18c5ef"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "3d864121-c2c2-4e7b-ae25-17ad57410af3"
			}
		},
		"ingredients":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5f5935ce-45ba-4596-a04d-09778b2ce80c"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "6bd50e02-3795-4fe7-ad26-916320f2b58b"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "011a92e1-3fb7-4a2d-8900-6470d96448b6"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b2a60bbb-369b-4089-b034-dbee09df445e"
			}
		}
	}
}