 {
	"movie.visit.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "100",
				"height": "100",
				"link_to_item": "1",
				"element": "36b94d31-5ede-4c45-8b57-740ca6489ef3"
			}
		}
	},
	"movie.visit.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "904ef5c8-e410-4746-bc7b-a2bf5a89d7c8"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7595c894-f74b-4ed7-aefb-db5677e82071"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Related Activity",
				"order":  {
					"0": "_itemname",
					"1": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "separator=[, ]",
				"element": "91b6f71e-58b0-4889-a9aa-101e2936057b"
			}
		},
		"summary":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "4435fd6e-fbc7-41f6-b576-af206c070022"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "36b94d31-5ede-4c45-8b57-740ca6489ef3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"ggsize": "medium",
				"ggannotation": "none",
				"ggwidth": "",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "bf268ecf-53fe-4d9c-8c15-97495fc72cb8"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "Summer Camp Form",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "88cd41c9-c67e-4a66-b2df-4d4dc0062dc4"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "d0fc380c-831f-4619-b1d1-aff7efd9328e"
			}
		}
	},
	"movie.visit.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "904ef5c8-e410-4746-bc7b-a2bf5a89d7c8"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "4435fd6e-fbc7-41f6-b576-af206c070022"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "36b94d31-5ede-4c45-8b57-740ca6489ef3"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "bf268ecf-53fe-4d9c-8c15-97495fc72cb8"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "d0fc380c-831f-4619-b1d1-aff7efd9328e"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "88cd41c9-c67e-4a66-b2df-4d4dc0062dc4"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "91b6f71e-58b0-4889-a9aa-101e2936057b"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "Published",
				"required": "0",
				"element": "_itemstate"
			}
		}
	}
}