 {
	"documentation.contact-us.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "%s Comment",
				"multiple_comments_text": "%s Comments",
				"no_comments_text": "No Comments",
				"element": "_itemcommentslink"
			}
		}
	},
	"documentation.contact-us.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"layout": "",
				"link_to_item": "1",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Written by",
				"separated_by": "separator=[, ]",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Posted in",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			}
		}
	},
	"documentation.contact-us.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			}
		}
	},
	"documentation.contact-us.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "eb5e574a-5a38-42e0-a86f-3f144e58c314"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			}
		}
	},
	"documentation.birthday-party.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "b9e1baf5-70d2-40ed-a388-461d59dace3a"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "549ce412-92b2-4877-8cab-6aa0a48ab0d7"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "cba6753c-dbb7-45b5-a8e0-abc88e3e478b"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "63c333d3-eea2-4ab4-86b4-a20fd875575b"
			},
			"4":  {
				"altlabel": "",
				"required": "1",
				"element": "037590fd-1e38-4f83-8ea8-1bd8764ae649"
			},
			"5":  {
				"altlabel": "",
				"required": "1",
				"element": "0ac13493-c3e0-441e-a734-217388a59380"
			},
			"6":  {
				"altlabel": "",
				"required": "1",
				"element": "4e3a89b6-fbb5-4773-9d01-0c811c4bb511"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "ae1be2e9-999a-4442-94a2-fa8890bbc574"
			},
			"8":  {
				"altlabel": "",
				"required": "0",
				"element": "9572efd7-76ff-4ca3-beea-ca9dce5d56ff"
			},
			"9":  {
				"altlabel": "",
				"required": "0",
				"element": "8955eef7-d080-4a3a-9b44-cf618b815110"
			}
		}
	}
}