 {
	"name": "Birthday Party",
	"elements":  {
		"b9e1baf5-70d2-40ed-a388-461d59dace3a":  {
			"name": "Contact Name",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"549ce412-92b2-4877-8cab-6aa0a48ab0d7":  {
			"name": "Contact Email",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "email"
		},
		"cba6753c-dbb7-45b5-a8e0-abc88e3e478b":  {
			"name": "Contact Phone",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"63c333d3-eea2-4ab4-86b4-a20fd875575b":  {
			"name": "Child Name",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"037590fd-1e38-4f83-8ea8-1bd8764ae649":  {
			"name": "Child Age",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"0ac13493-c3e0-441e-a734-217388a59380":  {
			"name": "Number of Children",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"4e3a89b6-fbb5-4773-9d01-0c811c4bb511":  {
			"name": "Number of Adults",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ae1be2e9-999a-4442-94a2-fa8890bbc574":  {
			"name": "Party Theme",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Sea Explorers!",
					"value": "sea-explorers"
				},
				"1":  {
					"name": "Pirates' Soiree",
					"value": "pirates-soiree"
				},
				"2":  {
					"name": "Little Expolorers",
					"value": "little-expolorers"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"9572efd7-76ff-4ca3-beea-ca9dce5d56ff":  {
			"name": "Request Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"8955eef7-d080-4a3a-9b44-cf618b815110":  {
			"name": "Additional Notes",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}