 {
	"name": "Visit",
	"elements":  {
		"d41e6376-c8f2-42b9-a5fd-990ef59b0351":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5f5935ce-45ba-4596-a04d-09778b2ce80c":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"3d864121-c2c2-4e7b-ae25-17ad57410af3":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"39170df1-bcc9-4bce-aaf4-61280a18c5ef":  {
			"name": "Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"c0130825-c447-4173-85ea-79c73abad033":  {
			"name": "Availability",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Open",
					"value": "open"
				},
				"1":  {
					"name": "Closed",
					"value": "closed"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"3ac63678-63da-441a-9c50-5a2101fcea4f":  {
			"name": "Cost",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"b2a60bbb-369b-4089-b034-dbee09df445e":  {
			"name": "Signup Link",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"011a92e1-3fb7-4a2d-8900-6470d96448b6":  {
			"name": "Download File",
			"description": "",
			"access": "1",
			"directory": "images",
			"download_mode": "1",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz,pdf",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "1024",
			"type": "download"
		},
		"4ebd4a65-e0b6-4b34-a0b5-bd574db9cc3c":  {
			"name": "Rating",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"6bd50e02-3795-4fe7-ad26-916320f2b58b":  {
			"name": "Social Buttons",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}